@import "tailwindcss";

@theme inline {
  --font-display: var(--font-bodoni-moda);
  --color-primary: #eab308;
  --color-secondary: #cbd5e1;
  /* --color-bgPrimary: #07183d; */
  --color-bgPrimary: black;
  --color-bgSecondary: #fbfbfb
}

*{
  box-sizing: border-box;
}


.___black {
  @apply border-2 border-black
}
.___red {
  @apply border-2 border-red-500
}
.___yellow {
  @apply border-2 border-yellow-500
}
.___green {
  @apply border-2 border-green-500
}